/* CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* Form Styling */

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

.email,
.country,
.zip,
.password,
.submit{
    display: flex;
    flex-direction: column;
}

.formContainer{
    background-color: lightcyan;
    padding: 5rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

#email:focus{
    outline: 0;
}

#email:invalid{
    border: 2px solid red;
}
#email:valid{
    border: 2px solid green;
}

#country:focus{
    outline: 0;
}

#country:invalid{
    border: 2px solid red;
}
#country:valid{
    border: 2px solid green;
}

#zip:focus{
    outline: 0;
}

#zip:invalid{
    border: 2px solid red;
}
#zip:valid{
    border: 2px solid green;
}